.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.campaign {
  margin-top: 2rem;
}
.campaignHeader img {
  width: 2rem;
  border-radius: 50%;
}

.campaigns .campaignHeader h6 {
  font-weight: 700;
  font-size: 0.9rem;
}
.campaigns .campaignHeader h6 a {
  color: inherit;
  text-decoration: none;
}

.campaigns .campaignTitle {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 0.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.campaigns .campaignImage {
  border-radius: 15px;
  max-height: 300px;
  width: 100%;
  margin-top: 0.7rem;
}

.campaigns .campaignBody {
  font-size: 0.9rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 0.25rem;
  margin-top: 0.7rem;
}

.campaigns .campaignFooter {
  font-size: 0.9rem;
  color: var(--greyText);
  margin-top: 0.4rem;
  padding: 0 0.25rem;
}
.campaigns .campaignFooter a {
  color: inherit;
  text-decoration: none;
}

.campaigns .campaignFooter span:nth-child(2)::before {
  content: ".";
  position: absolute;
  top: -25px;
  left: 0px;
  font-size: 2rem;
}
