* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:root {
  --blue: #2c2c7c;
  --orange: #f58220;
  --green: #4db64c;
  --white: #fff;
}
