.slotBookingPage .slots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.slotBookingPage .slot {
  border: 1px solid var(--blue);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.4s;
}

.slotCount {
  display: flex;
  align-items: center;
}

.slot .bx-check {
  display: none;
  font-size: 4rem;
  color: var(--white);
}

.selectedSlot h5,
.selectedSlot p,
.selectedSlot .slotCount,
.slot:hover h5,
.slot:hover p,
.slot:hover .slotCount {
  display: none;
}

.slot:hover,
.selectedSlot {
  background-color: var(--green);
}

.selectedSlot .bx-check,
.slot:hover .bx-check {
  display: block;
}

.bookSlotBtn {
  padding: 0.5rem 4rem;
  border: 1px solid var(--darkOrange);
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--darkOrange);
}

.bookSlotBtn:hover {
  background-color: var(--orange);
  color: #fff;
}
