.adminDashboard .cardBody {
  /* background-color: rgb(156, 164, 172); */
}
.adminDashboard .card-stats {
  display: flex;
}
.adminDashboard .card-style {
  margin-right: 20px;
}
.adminDashboard .total-count {
  font-weight: 700;
  font-size: 25px;
  margin-top: 7px;
}
.adminDashboard .accordion {
  margin-top: 50px;
}
.adminDashboard .accordion-button {
  font-size: 18px;
  color: #2c2c7c;
  font-weight: 500;
}
.adminDashboard .accordion-item {
  width: 80%;
}
.adminDashboard .verifyBtn {
  background-color: var(--orange);
  font-size: 15px;
  padding: 0.1rem 1rem;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
  border-color: var(--orange);
}
.adminDashboard .verifyBtn:hover {
  color: #fff;
  background-color: var(--green);
}

.adminDashboardTabs {
  border: 1px solid var(--borderColor);
  color: var(--greyText);
  outline: none !important;
}

.adminDashboardTabs:hover {
    background-color: var(--blue);
    color: #fff;
  }

.adminDashboard .activeTab {
  background-color: var(--blue);
  color: #fff;
}
